@import 'tailwindcss';
@import 'tailwind-animations';

:root {
  --primary: #001226;
  --secondary: #c5a059;
  --tertiary: #ffffff;
  --neutral: #122338;
}

@theme {
  --font-heading: var(--noto-serif);
  --font-sans: var(--manrope);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-neutral: var(--neutral);
}
